body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFFAF0; /* Azul marino */
    color: #fff;
    font-family: Arial, sans-serif;
    background-image: url(../landing/imagenes/lovepik-clean-city-picture_500785176.jpg);
    /* background-image: url(/landing/imagenes/lovepik-clean-city-picture_500785176.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* color del backgroun de los texbox del login */
.login-container {
    background-color: #60a4a4; /* Nigga */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 360px;
}

.login-form h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #00CED1; /* Azul */
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ffffff;
    color: #00CED1;
}

.extra-options {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* color de los label */
.extra-options a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
    transition: color 0.3s;
}

.extra-options a:hover {
    color:  #00CED1;
}


/* Estilos para el modal */
.modal {
    display: none; /* Inicialmente oculto */
    position: fixed; /* Posición fija para que cubra toda la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    z-index: 1000; /* Z-index alto para asegurar que esté sobre todo */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
}

.modal-content {
    background-color:black; /* Fondo blanco para el contenido del modal */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del contenido del modal */
    max-width: 400px; /* Ancho máximo del modal */
    text-align: center; /* Alineación del texto en el centro */
    border-radius: 8px; /* Bordes redondeados */
    position: relative; /* Posición relativa para ajustar el cierre */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #aaa;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}