body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFFAF0; /* Azul marino */
    color: #fff;
    font-family: Arial, sans-serif;
    background-image: url(../landing/imagenes/lovepik-clean-city-picture_500785176.jpg);
    /* background-image: url(/landing/imagenes/lovepik-clean-city-picture_500785176.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* color del backgroun de los texbox del login */
.login-container {
    background-color: #60a4a4; /* Nigga */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 360px;
}

.login-form h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #00CED1; /* Azul */
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ffffff;
    color: #00CED1;
}

.extra-options {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* color de los label */
.extra-options a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
    transition: color 0.3s;
}

.extra-options a:hover {
    color:  #00CED1;
}